extends layout

block content
  form(action=deletePath method="post")
    input(type="text" name="start" placeholder="start" required)
    input(type="text" name="end" placeholder="end" required)
    button#submitButton(type="submit") Delete
  br
  a(href=postPath) post
  br
  for post in data
    p #{isoDate(post.date)}
    p #{post.text}
    img(src=base64(post.img))
