doctype html
html
  head
    link(href="data:image/x-icon;base64,A" rel="icon" type="image/x-icon")
  body
    form(action=deletePath method="post")
      input(type="text" name="start" placeholder="start" required)
      input(type="text" name="end" placeholder="end" required)
      button#submitButton(type="submit") Delete
    br
    a(href=postPath) post
    br
    for post in data
      p #{isoDate(post.date)}
      p #{post.text}
      img(src=base64(post.img))
